<ion-view style="" class=" " id="page17" title="Support">
    <ion-content class="has-header" padding="false" >



      <ion-list class=" " >

        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/Wajdi.png">
              </a>
              <p style="color: #FFFFFF;">Wajdi<br>axiawadren96rd@gmail.com<br>
			  <center><img  src="img/fb.png" width="40" height="40" onclick="window.open('https://www.facebook.com/UR-BOOK-1963893827267061/', '_system', 'location=yes'); return false;"></p>
			  </center>
			  <!--<center><img  src="img/fb.png" width="60" height="40">
			  <a href="#" onclick="window.open('https://www.facebook.com/UR-BOOK-1963893827267061/', '_system', 'location=yes'); return false;">Facebook</a></center>-->
          </div>
        </div>

        <br/>

      </ion-list>





    </ion-content>
</ion-view>
