<ion-view style="" class=" " id="page13" title="courses">
     <ion-content class=" ">
                <ion-list data-componentid="list1" class=" " id="menu-list1">
                    <ion-item data-componentid="list-item1" style="" menu-close="" ui-sref="menu2" id="menu-list-item1" class="item-icon-left  ">
                        <i class="icon ion-ios-drag"></i>Information & Communication Technology Book</ion-item>
                    <ion-item data-componentid="list-item9" style="" menu-close="" ui-sref="menu3" id="menu-list-item9" class="item-icon-left  ">
                        <i class="icon ion-ios-drag"></i>Management Book</ion-item>
                    <ion-item data-componentid="list-item10" style="" menu-close="" ui-sref="menu4" id="menu-list-item10" class="item-icon-left  ">
                        <i class="icon ion-ios-drag"></i>Languanges Book</ion-item>
                   
                </ion-list>
            </ion-content>
</ion-view>
