<ion-view style="" class=" " id="page17" title="Support">
    <ion-content class="has-header" padding="false" >



      <ion-list class=" " >

        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/Wajdi.png">
              </a>
              <p style="color: #ffffff;">Wajdi</p>
            </div>
          </div>
        </div>

        <br/>

      </ion-list>





    </ion-content>
</ion-view>
